html {
  background-color: red;
  font-family: sans-serif;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  background-color: white;
}

#footer h3 {
  background-color: white;
  text-align: left;
  padding: 1.5rem 2rem;
  margin: 0;
}

h3 a.github_link {
  color: inherit;
}
